<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card-dec row col-9">
            <div class="card col-4 mt-4 mr-1 text-white bg-info border justify-content-center">
                <div class="card-body ">
                    <h5 class="card-title">チャクラを開く</h5>
                    <p class="card-text">私たちはいつでもあなたのチャクラを開き、どんな条件の下でも、私たちに感謝しないでください。 以降、チャクラから宇宙を明らかにするとともに、これまで明らかです。 彼らは誰ですか？ 誰も知らない</p>
                </div>
            </div>
            <div class="card col-5 mt-4 mr-1 text-white bg-info border">
                <div class="card-body ">
                    <h5 class="card-title">サル</h5>
                    <p class="card-text">類人猿は、霊長類の別の亜目-半類人猿とは多くの特徴が異なる。 Geparinova霊長類は、乾燥した鼻とあまり発達していない嗅覚を持っています。 類人猿の中では、単一の仔を産む種が優勢である。 一般に、この亜目はより進化していると考えられている。 サルは、アメリカ、アフリカ（マダガスカルを除く）、ジブラルタル、東南アジア、日本までの熱帯-亜熱帯地域に生息しています。 人間は南極大陸を除くすべての大陸に生息しています（彼は永久に住んでいませんが、常に存在しています）。</p>
                </div>
            </div>
            <div class="card col-5 mt-4 mr-1 text-white bg-info border">
                <div class="card-body ">
                    <h5 class="card-title">イッカク</h5>
                    <p class="card-text">大人のイッカクの体長は、通常3.8-4.5m（昔は6mの標本があった）、新生児–1-1に達する。 オスの体重は5メートルで2-3トンに達し、メスの体重は約900キログラムである。 頭部は丸く、突出した前縁があり、背びれはない。 口は小さく、底に位置する。体の大きさや形、胸鰭、吸盤の暗い色はベルーガクジラに似ていますが、大人は斑点が異なります-明るい背景に灰色がかった茶色の斑点があり、時には合併 これらのうち、左は雄で2-3mまでの牙に発達し、体重は10kgまでで、左の螺旋によってねじれ、右は通常切れません。
                        雄では右牙、雌では両牙が歯茎に隠れており、ほとんど発達しない例は500例程度である。 ただし、牙を持つ雌もいる。 壊れた牙は成長しませんが、そのような牙の歯管は骨充填で閉じられています。 それらの端部は、破損することなく、任意の方向に少なくとも31cmを曲げることができます。</p>
                </div>
            </div>
            <div class="card col-5 mt-4 mr-1 text-white bg-info border">
                <div class="card-body ">
                    <h5 class="card-title">シパンクリッド</h5>
                    <p class="card-text">体長は1-50cm。 口と短い触手の花冠を持つ前胸部のような端は、胴体に引き込むことができる。 Sipunculidsが地面に穴を開けると、その長いループ状の腸が開き、胴の上三分の一の側に肛門が開きます。 これにより、有害な交換生成物を外部環境に自由に除去することができます。 別の体腔が触手を満たし、皮膚に吸収された酸素を体腔に移すことを可能にする。 呼吸器および循環系no.1-3対のメタネフリジウム; 神経系があります。 雌雄異株。 生殖腺は繁殖期にのみ明確に表現される。
                        幼虫-トロコフォア。
                    </p>
                </div>
            </div>
            <div class="card col-5 mt-4 mr-1 text-white bg-info border">
                <div class="card-body ">
                    <h5 class="card-title">ヴィスカシャ山</h5>
                    <p class="card-text">齧歯類（げっかいるい、）は、哺乳綱ネズミ目ネズミ科に分類される哺乳類の一種。 アルゼンチン、ボリビア、チリ、ペルーで見られる。 彼らは疎な植生を持つ山岳地帯に住んでいます。 2400-5000メートルの高度で。 繁殖期は月から月。 それは120-140日間子犬を抱えています。 最初の日に誕生した後、彼らはすでに固形食を食べることができます。 大人の体重は3kgまでです。 Viskashaは昼行性で、日の出と日の入りの近くで最も活発です。 彼らは草、苔、地衣類を食べる。
                        人々は毛皮と肉のためにウィスカッシュを狩る。 狩猟のためにビザの数が減少した。</p>
                </div>
            </div>
            <div class="card col-5 mt-4 mr-1 text-white bg-info border">
                <div class="card-body ">
                    <h5 class="card-title">オクトパス-トラベラー</h5>
                    <p class="card-text">日本の企業スクウェア-エニックスと買収が共同で開発した日本のロールプレイングゲーム。）ロシア語。 2018年にNintendo Switch用ソフトとして任天堂より発売された。 2019年、このゲームはMicrosoft Windows向けにリリースされた。 ゲームの開発は、開発者自身の資金とkickstarterのウェブサイトを通じてクラウドファンディングを通じて調達された資金から資金提供されました。 Octopath Travelerは、主に"HD-2D"として開発者によって記述され、その珍しいグラフィックデザインのために注目すべきである：それは三次元風景と現代のグラフ
                        これらの文字は、同じ共有の世界のさまざまな部分で彼らの旅を開始し、ノンプレイヤーキャラクターとの相互作用に影響を与えるものを含め、異なる特 ゲームの開発者はそれをゲームFinal Fantasy VIのイデオロギー的な後継者と呼んだ(1994)[2][3]. ゲームは主に高いプレスの評価を受けた-レビュアーは珍しいグラフィックとターンベースの戦いを賞賛したが、弱いプロットとゲームのキャラクター間の相互作用</p>
                </div>
            </div>


        </div>
    </div>
</div>